@import "nullstyle";

input::-webkit-input-placeholder {
    color: #c4c4c4;
}
input::-moz-placeholder {
    color: #c4c4c4;
}

html, body {
    background-color: #e7f6ff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

h3 {
    line-height: 17px;
}

h4 {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;
}

h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.wrapper {
    padding: 40px;
}

.overlay {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

.drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 385px;
    height: 100%;
    background-color: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    &__body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    &__items {
        flex: 1 1 230px;
        margin: 30px 0 0 0;
        overflow: auto;
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ececec;
            background-color: #fff;
            border-radius: 20px;
            overflow: hidden;
            padding: 20px;
            margin: 0 0 20px 0;
            &__img {
                img {
                    max-width: 70px;
                }
            }
            .info {
                flex: 0 0 150px;
                &__name {
                    margin: 0 0 8px 0;
                }
                &__price {
                    font-weight: 700;
                    line-height: 17px;
                }
            }
            &__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: #fff;
                border-radius: 7px;
                border: 1px solid #ececec;
                transition: all 0.3s ease 0s;
                &:hover {
                    border: 1px solid #cbcbcb;
                }
                &:hover svg path {
                    fill: #cbcbcb;
                }
            }
        }
    }
    &__info {
        margin: 30px 0 30px 0;
        display: flex;
        flex-direction: column;
        .sum {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 20px 0;
            &__text {}
            &__line {
                border: 1px dashed #dfdfdf;
                flex: 1 1 auto;
                margin: 0 8px;
                position: relative;
                top: 4px;
                left: 0;
            }
            &__value {
                font-weight: 600;
            }
        }
        .tax {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 25px 0;
            &__text {}
            &__line {
                border: 1px dashed #dfdfdf;
                flex: 1 1 auto;
                margin: 0 8px;
                position: relative;
                top: 4px;
                left: 0;
            }
            &__value {
                font-weight: 600;
            }
        }
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
            background-color: #70a21e;
            height: 55px;
            border-radius: 18px;
            transition: all 0.3s ease 0s;
            svg {
                position: relative;
                top: 0;
                left: 40px;
            }
            &:hover {
                background-color: #fff;
                border: 1px solid #70a21e;
                color: #70a21e;
                svg path {
                    stroke: #70a21e;
                }
            }
        }
    }
}

.container {
    max-width: 1080px;
    min-height: 1526px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0 60px;
}

.header {
    padding: 44px 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 45px 0;
    .logo {
        display: flex;
        &__img {
            img {}
        }
        &__text {
            margin: 0 0 0 16px;
        }
        &__subtitle {
            line-height: 17px;
            color: #9d9d9d;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .info {
        display: flex;
        align-items: center;
        span {
            margin: 0 30px 0 10px;
            font-weight: 600;
            line-height: 17px;
            color: #5c5c5c;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            &:hover {
                cursor: pointer;
            }
        }
        img:last-child {
            margin: 0 0 0 30px;
        }
    }
}

.slider {
    background-color: #f4efe9;
    border-radius: 20px;
    height: 300px;
    display: flex;
    overflow: hidden;
    margin: 0 0 37px 0;
    position: relative;
    .info {
        align-self: flex-end;
        margin: 0 0 52px 60px;
        &__text {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            margin: 0 0 20px 0;
            position: relative;
            z-index: 2;
            span {
                color: #8bb43c;
            }
        }
        &__btn {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #fff;
            background-color: #70a21e;
            width: 177px;
            height: 47px;
            border-radius: 110px;
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: #f4efe9;
                border: 1px solid #70a21e;
                color: #70a21e;
            }
        }
    }
    &__img {
        .labelImg {
            position: absolute;
            top: 16px;
            left: 20px;
        }
    }
    &__arrow-right {
        width: 35px;
        height: 35px;
        border-radius: 43px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
        position: absolute;
        top: 45%;
        right: 20px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease 0s;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.content {
    .block {
        display: flex;
        justify-content: space-between;
        margin: 0 0 26px 0;
        &__input {
            display: flex;
            align-items: center;
            svg {
                position: relative;
                top: 0;
                left: 30px;
            }
        }
        input {
            width: 250px;
            height: 45px;
            border: 1px solid #ececec;
            border-radius: 10px;
            padding: 0 46px;
            transition: all 0.3s ease 0s;
            &:focus {
                border: 1px solid #cbcbcb;
                box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
            }
        }
    }
    .sneakers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        margin: 0 -20px;
        @media (max-width: 1169.98px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 929.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 729.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .item {
            display: flex;
            padding: 0 20px;
            margin: 0 0 40px 0;
            &__body {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border: 1px solid #ececec;
                border-radius: 40px;
                padding: 30px;
                position: relative;
                transition: all 0.3s ease 0s;
                &:hover {
                    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
                    transform: scale(1.05);
                }
            }
            &__favorites {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: #fff;
                border: 1px solid #ececec;
                border-radius: 7px;
                position: absolute;
                top: 30px;
                left: 30px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                &:hover {
                    border: 1px solid #cbcbcb;
                    background-color: #cbcbcb;
                }
                &:hover svg path {
                    fill: #fff;
                }
                &.active {
                    background-color: #fef0f0;
                    border: none;
                }
                &.active svg path {
                    fill: #ff8585;
                }
            }
            &__image {
                margin: 0 0 14px 0;
                img {
                    max-width: 133px;
                    @media (max-width: 729.98px) {
                        max-width: 100%;
                    }
                }
            }
            &__name {
                flex: 1 1 auto;
            }
            &__costs {
                display: flex;
                justify-content: space-between;
                margin: 14px 0 0 0;
            }
            &__price {
                span {
                    font-weight: 700;
                    line-height: 17px;
                }
            }
            &__add {
                width: 32px;
                height: 32px;
                background-color: #fff;
                border: 1px solid #ececec;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover {
                    border: 1px solid #cbcbcb;
                    background-color: #cbcbcb;
                }
                &:hover svg path {
                    fill: #fff;
                }
                &.active {
                    background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
                    border: none;
                    svg path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}