@import "nullstyle";

input::-webkit-input-placeholder { color: #c4c4c4; }
input::-moz-placeholder { color: #c4c4c4; }

html, body {
    background-color: #e7f6ff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

h1 { font-weight: 700; font-size: 32px; line-height: 39px; }
h2 { font-weight: 700; font-size: 20px; line-height: 24px; text-transform: uppercase; }
h3 { line-height: 17px; }
h4 { font-weight: 500; font-size: 11px; line-height: 13px; text-transform: uppercase; color: #bdbdbd; }
h5 { font-weight: 700; font-size: 24px; line-height: 29px; }

.wrapper {
    padding: 40px;
}

.container {
    max-width: 1080px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 60px;
}

.content {
    margin: 0 0 -40px 0;
    .block {
        display: flex;
        justify-content: space-between;
        margin: 0 0 26px 0;
        h1 {
            max-width: 650px;
        }
        &__input {
            display: flex;
            position: relative;
            svg {
                &:nth-child(1) {
                    position: absolute;
                    top: 14px;
                    left: 15px;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 16px;
                    right: 15px;
                }
            }
            input {
                width: 250px;
                height: 45px;
                border: 1px solid #ececec;
                border-radius: 10px;
                padding: 0 46px;
                transition: all 0.3s ease 0s;
                &:focus {
                    border: 1px solid #cbcbcb;
                    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
                }
            }
        }
    }
    .sneakers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        margin: 0 -20px;
        @media (max-width: 1169.98px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 929.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 729.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}